* {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
} 

a:hover {
  border: 6px solid rgb(93, 78, 96);
  background-color: rgb(93, 78, 96);
  color: ivory;
}
#main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  background-color: rgb(93, 78, 96);
}

#left-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 65%;
  background-color: rgb(93, 78, 96);
}

h1 {
  font-size: 3em;
  color: ivory;
  font-weight: bold;
  margin-left: 25px;
  padding-top: 50px;
}

h1 span{
  color:  rgb(240, 184, 175);
}

#right-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 35%;
  background-color: rgb(93, 78, 96);
}

img.rdiv {
  height: 275px;
  width: 250px;
  border-radius: 50%;
  padding-top: 35px;
}

footer {
  background-color: ivory;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

img.icon {
  padding-left: 10px;
  padding-right: 10px;
  width: 30px;
}
