* {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
} 

a:hover {
  border: 6px solid rgb(93, 78, 96);
  background-color: rgb(93, 78, 96);
  color: ivory;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 100%;
  background-color: rgb(93, 78, 96);
}

#main-content {
display: flex;
height: auto;
padding-bottom: 15px;
}

#left-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 65%;
  background-color: #5d4e60;
}



h1 {
  font-size: 3em;
  color: ivory;
  font-weight: bold;
  margin-left: 25px;
  padding-top: 50px;
}

h1 span{
  color:  rgb(240, 184, 175);
}

h1 span:hover{
  color: #7BA1B5;
}

#right-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 35%;
  background-color: #5d4e60;
}

img.rdiv {
  height: 350px;
  width: 250px;
  border-radius: 30%;
  padding-top: 35px;
}

footer {
  width: 100%;
}

nav {
  overflow: hidden;
  background-color: ivory;
  height: 40px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

img.icon {
  padding-left: 10px;
  padding-right: 10px;
  width: 30px;
}

@media screen and (max-width: 768px){
  body {
    display: flex;
    flex-direction: column;
  }

  h1{
    font-size: 2em;
  }


  #main-content{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #left-div{
    width: 100%;
  }
  #right-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  img.rdiv{
    width: 200px;
    height: 250px;
  }
  footer{
    position: absolute;
    bottom: 0;
  }
}